<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestCaseListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/varsha.tiwari/Documents/Appium_Resources/ToDoAppUIAuotmation">
        <classes>
            <class name="testScripts.HomePageTest">
                <methods>
                    <include name="testAddMultipleItemsAndRemoveMultiple"/>
<!--                    <include name="testAddSingleItemToTheList"/>-->
<!--                    <include name="editTextOfItemPresentInList"/>-->
<!--                    <include name="removeItemFromList"/>-->
<!--                    <include name="markItemAsCompletedAndClearFromList"/>-->
<!--                    <include name="testAddingEmptyString"/>-->
<!--                    <include name="testAddingStringWithTrailingSpaces"/>-->
<!--                    <include name="testAdditionOfMultipleItemsAndSequence"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>